

html, body, #root{
    background: #fff;
    width: 100%;
    height: 100%;
    margin: 0;
}

.navbar-light a{
    color: #fff !important;
    margin-right: 15px;
}

.nav-link{
    color: #BF1E2D !important;
}

.active{
    color: #999 !important;
}

.button{
    background: #BF1E2D !important;
    border: none !important;
    color: #FCC72B !important;
    padding: 10px 30px !important;
}

nav{
    z-index: 2;
    background-color: transparent !important;
}

nav a{
    background: none !important;
}

.slick-next:before, .slick-prev:before {
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: black;
}

.team-members{
    text-align: center;
}

.nav-link{
    cursor: pointer;
}






.sidenav---sidenav---_2tBP{
    background-color: #4e73df !important;
}